<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
  <ion-form-wizard [(step)]="step" [showSteps]="false" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
      <ion-wizard-step>
        <ion-item>
          <ion-label>Todo</ion-label>
          <ion-input type="text" [(ngModel)]="data.title" name="title"></ion-input>
        </ion-item>
      </ion-wizard-step>
      <ion-wizard-step>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea [(ngModel)]="data.description" name="description"></ion-textarea>
        </ion-item>
    </ion-wizard-step>
  </ion-form-wizard>
  </form>
</ion-content>
