<ng-content></ng-content>
 <div [hidden]="hideWizard" class="ion-wizard-footer">
    <!--Back Button-->
    <ion-fab *ngIf="!isOnFirstStep()" left bottom>
      <button ion-fab (click)="back()">
        Back
      </button>
    </ion-fab>
    <!--Steps count-->   
    <ion-badge *ngIf="showSteps">{{step}} / {{steps}}</ion-badge>
    <!--Next Button-->
    <ion-fab *ngIf="(!isOnFinalStep() && getCondition())" right bottom>
      <button ion-fab (click)="next()">
        Next
      </button>
    </ion-fab>
    <!--Finish Button-->
    <ion-fab *ngIf="(isOnFinalStep() && getCondition())" right bottom>
      <button ion-fab (click)="finish.emit(step + 1)">
         Submit
      </button>
    </ion-fab>
  </div>