ion-form-wizard {
    :host {
      display: flex;
      flex-direction: column;
    }
    .ion-wizard-footer {
    	left: 0;
    	z-index: 100;
    	display: block;
    	width: 100%;
    	text-align: center;
    }
}